*.exe
*.zip
node_modules/*
config/config.env
project/*
2110403_DSDE-CEDT_2024s1/*
a-4-vichayabhas/*
a-6-vichayabhas/*
a-7-vichayabhas/*
a-7-vichayabhas/*
a-8-vichayabhas/*
a-9-vichayabhas/*
a-10-11-vichayabhas/*
a-10-11-VickyManCH/*
frontend/*
main_frontend/*
main_backend/*
se/*
vishnu21-backend/*
vishnu21-frontend/*